<!DOCTYPE html>
<html>
<title>Tugas Akhir Machine Learning</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Web Machine Learning</h2>
  
  <div class="w3-card-4">
    <div class="w3-container w3-green">
      <h2>login</h2>
    </div>

    <form class="w3-container" action="/" method="POST">
      <p>
      <input required class="w3-input" name="nama" type="text">
      <label>masukkan username</label></p>
      <p>     
      <input required class="w3-input" name="password" type="password">
      <label>masukkan password</label></p>

      <input type="submit" name="login" class="w3-button w3-blue" value="submit">
    </form>
  </div>
</div>

</body>
</html>